.btn-theme{
    transition: all .2s ease;
    background: $theme;
    color: $white;
    padding: 10px 20px;
    &:hover{
        transition: all .2s ease;
        background: darken($theme, 10%);
        color: $white;
    }
}

.btn-loading{
    position:relative;
    &:after{
        content: '';
        display: block;
        width: 1.2em;
        height: 1.2em;
        position: absolute;
        left: calc(50% - 0.75em);
        top: calc(50% - 0.75em);
        border: 0.15em solid transparent;
        border-right-color: white;
        border-radius: 50%;
        animation: button-anim 0.7s linear infinite;
        opacity: 1;
    }
}

.radius-25{
    border-radius: 25px!important;
}

.form-control{
    box-shadow: none!important;
    font-size: 14px;
    padding: 10px 20px;
    cursor: pointer;
    border: 1px solid $ash!important;
    &:focus{
        border-color: $ash;
        transition: all .2s ease!important;
        box-shadow: 0 1px 2px rgb(28 36 62 / 28%)!important;
    }
    &:hover{
        border-color: $ash!important;
        transition: all .2s ease;
        box-shadow: 0 1px 2px rgb(28 36 62 / 28%)!important;
    }
    &.is-invalid{
        border-color:$danger!important;
    }
}
.btn{
    transition: all .2s ease;
    font-size: 14px;
    box-shadow: none!important;
}

.dashboard{
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 114px);
    font-size: 40px;
    color: $ash;
}
